/*

// top, right, bottom, left
// width, min-width, max-width, // height, min-height, max-height,
// margin..., padding...,

*/

$unitUtilitiesSettings: (

  ( property: 'top',
    propertyClass: 'top-',

    units: (
      (
        unit: '',

        values: (
          (
            value: 0,
          ),
        ),
      ),
      (
        unit: 'baseline',
        unitClass: 'base',

        values: (
          (
            value: calc(1 * var(--Baseline)),
            valueClass: '1',
          ),
        ),
      ),
      (
        unit: 'calcRows',
        unitClass: 'row',

        values: (
          (
            value: calc(2 * var(--Row)),
            valueClass: '2',
          ),
        ),
      ),
      (
        unit: '%',
        unitClass: 'pc',

        values: (
          (
            value: 50,
          ),
          (
            value: 100,
            global: false,
            responsive:
            (
              'smalltomed', 'medtomax',
            ),
          ),
        ),
      ),
    ),
  ),
  ( property: 'margin-top',
    propertyClass: 'mt-',

    units: (
      (
        unit: 'rem',

        values: (
          (
            value: 2,
          ),
        ),
      ),
    ),

    keywords: (
      (
        keyword: 'auto',
        responsive:
          (
            'smalltomed', 'medtomax',
          ),
      ),
    ),
  ),
  ( property: ('margin-right', 'margin-left'),
    propertyClass: 'mh-',

    keywords: (
      (
        keyword: 'auto',
        responsive: 'smalltomed',
      ),
    ),
  ),
  ( property: ('padding-top', 'padding-bottom'),
    propertyClass: 'pv-',

    units: (
      (
        unit: 'rem',

        values: (
          (
            value: 2,

            responsive:
            (
              'smalltomed', 'medtomax',
            ),
          ),
        ),
      ),
    ),
  ),
  ( property: 'width',
    propertyClass: '',

    units: (
      (
        unit: 'cspan',
        unitClass: 'cspan',

        values: (
          (
            value: columnspan(2),
            valueClass: '2',

            responsive:
            (
              'smalltomed',
            ),
          ),
        ),
      ),
    ),
  ),
);
