$iota-global-objects-namespace    : 'o-';
$iota-global-utilities-namespace  : 'u-';
$iota-global-components-namespace : 'c-';

$iota-global-breakpoint-separator: \@;
$iota-global-pseudo-separator: $iota-global-breakpoint-separator;
